<div class="container">
    <div class="row">
        <div class="row">
            <h5 class="text-center">GitLib</h5>
            <p class="text-center">Your AngularJs GitHub website!</p>
        </div>
        <div class="row">
            <form name="frmUserName">
             <hr style="width: 100%; color: black; height: 1px; background-color:white;" />
                <div class="row">
                    <div class="col-xs-6">
                        <button class="btn pull-right btn-success" type="button" ng-click="clearUserName()">Clear
                            <i class="fa fa-eraser"></i>
                        </button>
                    </div>
                   <div class="col-xs-6">
                        <button class="btn pull-left btn-success" ng-click="frmUserName.$valid && gotoUserProfileByName()">Get In
                            <i class="fa fa-github-alt"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js"></script>
