<div class="container" ng-init="userByName()">
    <div class="row">
        <!-- code start -->
        <div class="twPc-div">
            <a class="twPc-bg twPc-block"></a>
            <div>
                <div class="twPc-button">
                    <a href={{html_url}} class="twitter-follow-button">
                        <i class="fa fa-code-fork" aria-hidden="true"></i>&nbsp;{{login}}
                    </a>
                </div>
                <a title="{{name}}" class="twPc-avatarLink">
                    <img alt="{{name}}" ng-src="{{avatar_Url}}" class="twPc-avatarImg">
                </a>
                <div class="twPc-divUser">
                    <div class="twPc-divName">
                        <a>{{name}}</a>
                    </div>
                    <!--company email blog  -->
                    <span>
                      <!-- Company -->
                      <a data-toggle="modal" data-target="#companyModal">
                        <span>
                          <i class="fa fa-users" aria-hidden="true"></i> 

                        </span>
                    </a>
                    <!-- Email -->
                    <a data-toggle="modal" data-target="#emailModal">
                        <span>
                          <i class="fa fa-envelope" aria-hidden="true"></i>

                        </span>
                    </a>
                    <!-- blog -->
                    <a data-toggle="modal" data-target="#blogModal">
                        <span>
                          <i class="fa fa-internet-explorer" aria-hidden="true"></i>

                        </span>
                    </a>
                    </span>
                </div>
                <div class="twPc-divStats">
                    <ul class="twPc-Arrange">
                        <li class="twPc-ArrangeSizeFit">
                            <a href="https://twitter.com/mertskaplan" title="{{public_repos}} Public repos">
                                <span class="twPc-StatLabel twPc-block">Public repos</span>
                                <span class="twPc-StatValue">{{public_repos}}</span>
                            </a>
                        </li>
                        <li class="twPc-ArrangeSizeFit">
                            <a href="https://twitter.com/mertskaplan/following" title="{{following}} Following">
                                <span class="twPc-StatLabel twPc-block">Following</span>
                                <span class="twPc-StatValue">{{following}}</span>
                            </a>
                        </li>
                        <li class="twPc-ArrangeSizeFit">
                            <a href="https://twitter.com/mertskaplan/followers" title="{{followers}} Followers">
                                <span class="twPc-StatLabel twPc-block">Followers</span>
                                <span class="twPc-StatValue">{{followers}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- code end -->
        <hr style="width: 100%; color: black; height: 1px; background-color:gray;" />
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">Public repositories</div>
                <div class="panel-body">
                    <!-- Repository list here -->
                     <div class="comments-list">
                      
                       <div ng-repeat="repository in repositoriesList"> 
                            <div class="media">
                               <p class="pull-right">
                                 <small><i class="fa fa-star" aria-hidden="true"></i></small>
                               </p>
                                <a class="media-left">
                                  <i class="fa fa-code-fork" aria-hidden="true"></i>
                                </a>
                                <div class="media-body">
                                    
                                  <h4 class="media-heading user_name">{{repository.full_name}}</h4>
                                   {{repository.description}}
                                </div>
                            </div>
                       </div>
                     </div>
                </div>
            </div>
        </div>
        <!-- Company modal -->
        <div class="modal fade" id="companyModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Company name</h4>
                    </div>
                    <div class="modal-body">
                        <p>{{company}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Email modal -->
        <div class="modal fade" id="emailModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Email</h4>
                    </div>
                    <div class="modal-body">
                        <p>{{email}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- blog modal -->
        <div class="modal fade" id="blogModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Website/blog</h4>
                    </div>
                    <div class="modal-body">
                        <a ng-click="OpenURl(blog)">{{blog}}</a>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
